.audio_hub_container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(183, 183, 183);
  border-radius: 4px;
  width: 100%;
  padding: 5px 3px 5px 3px;
  @media screen and (max-width: 900px) {
    max-width: 99%;
    flex-direction: column;
  }
}

.hub_add_play_container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  @media screen and (max-width: 900px) {
    gap: 5px;
    justify-content: center;
  }
}

.hub_track_btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9px;
  width: 139px;
  height: 30px;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.162);
  background-color: #f2f2f2ce;
}

.track_title {
  width: 60px;
}
.track_icon {
  font-size: 12px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 2px;
}
.hub_track_btn > button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 0 14px 0 0;
  font-size: 13px;
  height: 100%;
}
.hub_track_btn > button,
.track_details_icon {
  cursor: pointer;
}
.track_details_icon {
  font-size: 13px;
}
.hub_search_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0;
}
.search_bar {
  font-size: 13px;
  width: 160px;
  height: 30px;
  border-radius: 20px;
  border: 1px solid gray;
  background-image: url("images/searchIcon.png");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  box-sizing: border-box;
  padding: 10px 0 12px 30px;
  background-position: 7px 5px;
}
