.song-list-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.song-list-navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.song-info-title {
  width: 100%;
}

.song-info-title > h3 {
  height: 30px;
  padding: 5px;
  text-align: start;
  font-size: 14px;
  font-weight: 500;
  background-color: rgb(183, 183, 183);
  border-left: 1px solid white;
  border-radius: 2px;
  @media screen and (max-width: 900px) {
    font-size: 10px;
    padding: 2px;
  }
}

.ply_btn_title {
  width: 5%;
}
.song-name {
  width: 20%;
  @media screen and (max-width: 900px) {
    width: 25%;
  }
}
.artist-name {
  width: 25%;
  @media screen and (max-width: 900px) {
    width: 35%;
  }
}

.details_title {
  width: 25%;
}

.track-number {
  width: 25%;
  @media screen and (max-width: 900px) {
    width: 15%;
  }
}
