.custom-btn-container {
  position: absolute;
  left: 15px;
  margin-top: 33px;
  @media screen and (max-width: 900px) {
    left: 0;
    margin-left: 5px;
    margin-top: 11px;
  }
}

.custom-btn-container > button {
  background: none;
  border: none;
  color: gray;
  font-size: 15px;
}
