.track-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
  border-bottom: 1px solid gray;
  padding-bottom: 8px;
  padding-top: 8px;
  align-items: center;
  height: 70px;
  @media screen and (max-width: 900px) {
    font-size: 10px;
    margin-left: 15px;
    padding: 0;
    height: 40px;
  }
}

.track-row-artist-name {
  padding-right: 50px;
}
.song-row-symbols {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-self: center;
  gap: 25px;
  @media screen and (max-width: 900px) {
    gap: 5px;
  }
}

.track-row-song-name {
  width: 50px;
}
.track-row-artist-name {
  width: 70px;
}

.song-row-symbols > span {
  cursor: pointer;
}

.song-row-symbols > details > span {
  position: absolute;
  width: 100px;
  right: 1px;
}
