.play_container {
  display: flex;
  flex-direction: row;
  gap: 9px;
  width: 122px;
  height: 30px;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.162);
  background-color: #f2f2f2ce;
}

.play_button {
  display: flex;
  flex-direction: row;
  align-items: center;
  background: none;
  border: none;
  padding: 0 13px 0 0;
  margin-left: 14px;
  font-size: 13px;
  height: 100%;
  border-right: 1px solid gray;
}

.play_details_icon {
  font-size: 12px;
  padding-right: 10px;
  margin: auto;
}

.play_button,
.play_details_icon {
  cursor: pointer;
}
