.uplaod-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 100%;
  padding-bottom: 15px;
  border: 2px dotted gray;
}

.uplaod-form-container > button {
  width: 90px;
  height: 40px;
  margin-top: 15px;
  border: none;
  background: none;
  border-radius: 14px;
  background-color: rgb(183, 183, 183);
}

input {
  margin-left: 33px;
}

.add-song-loading {
  width: 50px;
}
