.app > main {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  padding-top: 0.5rem;
  gap: 50px;
  @media screen and (max-width: 900px) {
    width: 100%;
  }
}
