.add_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 9px;
  width: 122px;
  height: 30px;
  border-radius: 4px;
  border: 2px solid rgba(0, 0, 0, 0.162);
  background-color: #f2f2f2ce;
}

.add_button {
  background: none;
  border: none;
  padding: 0 14px 0 0;
  font-size: 13px;
  height: 100%;
  cursor: pointer;
  border-right: 1px solid gray;
}

.add_details_icon {
  font-size: 12px;
  padding-right: 10px;
  margin: auto;
}

.add_button,
.add_details_icon,
.add_icon {
  cursor: pointer;
}
.add_icon {
  font-size: 10px;
  padding-left: 11px;
}
